// Header
$header-height: 48px;
$header-z-index: 1002;
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background: $white;
  z-index: $header-z-index;
  border-bottom: 1px solid $gray-200;

  &-container {
    // @extend .container;
    padding: 0 16px;
  }

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    height: $header-height;
  }

  // Offset Sibling Elements
  ~ * {
    padding-top: $header-height;
  }
}
