extends ./partials/_$layout.pug

block vars
  - var title = 'FS - Typography'
  - var menu = 'Typography'

block body
  .body-container
    .text-12.text-muted
      | Typography

    .py-3
      .row
        .col-6
          h1 Heading 1
        .col-6
          .text-32 .text-32
      .row
        .col-6
          h2 Heading 2
        .col-6
          .text-24 .text-24
      .row
        .col-6
          h3 Heading 3
        .col-6
          .text-18 .text-18
      .row
        .col-6
          h4 Heading 4
        .col-6
          .text-16 .text-16
      .row
        .col-6
          h5 Heading 5
        .col-6
          .text-14 .text-14
      .row
        .col-6
          h6 Heading 6
        .col-6
          .text-12 .text-12
    .row
      .col-lg-8
        .py-2
          p Paragraph lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, ab illum minima ipsum fugit voluptatum animi suscipit exercitationem, itaque vitae optio omnis natus ullam error ad odit tempora, ratione neque laborum. Perferendis, inventore voluptatem quas ullam provident asperiores distinctio laudantium deserunt veritatis reiciendis architecto animi ipsam nihil atque eaque pariatur.
        .py-2.text-14
          p Paragraph lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, ab illum minima ipsum fugit voluptatum animi suscipit exercitationem, itaque vitae optio omnis natus ullam error ad odit tempora, ratione neque laborum. Perferendis, inventore voluptatem quas ullam provident asperiores distinctio laudantium deserunt veritatis reiciendis architecto animi ipsam nihil atque eaque pariatur.
