// Sizing
$type_scales: (
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  24: 24px,
  32: 32px,
) !default;

@each $key, $value in $type_scales {
  .text-#{$key} {
    font-size: $value
  }
}


// Tracking or letter spacing
$letter_spacings: (
  wide: .1em,
  wider: .15em,
) !default;

@each $key, $value in $letter_spacings {
  .tracking-#{$key} {
    letter-spacing: $value
  }
}
