header.header
  .header-container
    .header-inner
      a.text-muted.mr-3(onclick="toggleSidebar()")
        i.icon.icon-menu
      .header-brand.font-weight-bold
        .d-none.d-lg-inline-block FRONTEND STARTER
        .d-lg-none FS
      .flex-fill.px-5
        .d-none.d-lg-block
          input.form-control.form-control-sm(type="text" placeholder="Find anything..")
      .btn.btn-sm.btn-secondary CREATE
      .text-primary.px-2.ml-4 USER
