header.header
  .header-container
    .header-inner
      a.text-muted.mr-3(onclick="toggleSidebar()")
        i.icon.icon-menu
      .header-brand.font-weight-bold
        .d-none.d-lg-inline-block FRONTEND STARTER
        .d-lg-none FS
