aside.sidebar.show
  .sidebar-inner
    .text-12.tracking-wide.text-muted.mb-3 MENU
    ul.sidebar-menu
      li.sidebar-menu-item(class=(menu == 'Readme' && 'active'))
        a.sidebar-menu-link(href="./index.html")
          i.icon.icon-book.mr-2
          b Readme
      li.sidebar-menu-item(class=(menu == 'Typography' && 'active'))
        a.sidebar-menu-link(href="./typography.html")
          i.icon.icon-type.mr-2
          | Typography
      li.sidebar-menu-item(class=(menu == 'Basic Components' && 'active'))
        a.sidebar-menu-link(href="./components.html")
          i.icon.icon-box.mr-2
          | Basic Components
      li.sidebar-menu-item(class=(menu == 'Adv. Components' && 'active'))
        a.sidebar-menu-link(href="advanced-components.html")
          i.icon.icon-codesandbox.mr-2
          | Adv. Components
      li.sidebar-menu-item(class=(menu == 'Forms' && 'active'))
        a.sidebar-menu-link(href="./forms.html")
          i.icon.icon-clipboard.mr-2
          | Forms
      li.sidebar-menu-item(class=(menu == 'Utilities' && 'active'))
        a.sidebar-menu-link(href="./utilities.html")
          i.icon.icon-copy.mr-2
          | Utilities
      li.sidebar-menu-item.sidebar-menu-parent(class=(menu.includes('Example') && 'active'))
        a.sidebar-menu-link()
          i.icon.icon-layout.mr-2
          | Examples
        ul.sidebar-menu
          li.sidebar-menu-item
            a.sidebar-menu-link(href="example/login.html")
              | Login
          li.sidebar-menu-item
            a.sidebar-menu-link(href="example/register.html")
              | Register
          li.sidebar-menu-item(class=(menu == 'Example-Form' && 'active'))
            a.sidebar-menu-link(href="#")
              | Form
          li.sidebar-menu-item(class=(menu == 'Example-ListTable' && 'active'))
            a.sidebar-menu-link(href="#")
              | List Table
          li.sidebar-menu-item(class=(menu == 'Example-ListCard' && 'active'))
            a.sidebar-menu-link(href="#")
              | List Card
